services:
  vllm:
    build:
      context: .
      dockerfile: Dockerfile
    ipc: host
    gpus: all
    environment:
      - PORT=${PORT:-9000}
    ports:
      - "${PORT:-9000}:${PORT:-9000}"
    volumes:
      - cache:/runpod-volume

volumes:
  cache: